/ch01/HelloWorldJavaEE7/HelloWorldJavaEE7-ejb/build/
/ch01/HelloWorldJavaEE7/HelloWorldJavaEE7-ejb/dist/
/ch01/HelloWorldJavaEE7/HelloWorldJavaEE7-war/build/
/ch01/HelloWorldJavaEE7/build/
/ch01/HelloWorldJavaEE7/HelloWorldJavaEE7-war/dist/
/ch02/PhotoAlbum-basic-servlet/nbproject/private/
/ch02/PhotoAlbum-basic-servlet/build/
/ch02/PhotoAlbum-basic-servlet/dist/
/ch03/jsp-clock/nbproject/private/
/ch03/jsp-clock/dist/
/ch03/jsp-clock/build/