/ch01/HelloWorldJavaEE7/HelloWorldJavaEE7-ejb/build/
/ch01/HelloWorldJavaEE7/HelloWorldJavaEE7-ejb/dist/
/ch01/HelloWorldJavaEE7/HelloWorldJavaEE7-war/build/
/ch01/HelloWorldJavaEE7/build/
/ch01/HelloWorldJavaEE7/HelloWorldJavaEE7-war/dist/
/ch02/PhotoAlbum-basic-servlet/nbproject/private/